* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c1c1c1;
    font-family: Arial, Verdana, sans-serif;
}

header {
    margin: 16px;
    padding: 8px 16px;
    border: 3px solid coral;
    border-radius: 5px;
    min-width: 400px;
}

.nav-list li {
    display: inline;
    list-style-type: none;
    padding-left: 0.5em;
}

main {
    margin: 16px;
    padding: 8px 16px;
    border: 3px solid coral;
    border-radius: 5px;
    min-width: 400px;
}

@media screen and (min-width: 1024px){
    body {
        background-color: #FCEBEBFF ;
    }
}

main ul {
    margin-top: 8px;
    padding-left: 20px;
}

figure {
    width: 90%;
    display: block;
    margin: 0 auto;
}

img {
    padding-top: 8px;
    width: 90%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: coral;
}

h1 {
    color: coral;
}

h2 {
    color: lightslategray;
    text-align: center;
}

p {
    padding: 8px 0;
}

@media screen and (min-width: 1024px) {
    p, li, figcaption {
        font-size: 0.8em;
        line-height: 1.2em;
        color: red;
    }
}

.section-header {
    text-decoration: underline;
}

#container {
    background-color: bisque;
    border: 2px solid coral;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
}